#nav {
	min-width:600px;
}
body form {
	min-width:536px;
}
body.public #nav > li {
	float:none;
	padding:0;
}
body.public #nav > li a {
	float:left;
	color:#666;
	padding:15px 1em;
	height:0;
}
body.public #nav > li a:hover,
body.public #nav > li a.active,
body.public #nav > li a:active {
	color:#fff;
	background-image:url("../../../symphony/assets/images/navigation.png");
}
body.public #nav > li a:hover {
	background-color:#7E7E70;
	background-position:0 -30px;
	position:relative;
}
body.public #nav > li a.active:hover {
	background-position:0 0;
}
