/* keep layout from breaking at smaller widths
----------------------------------------------- */
#nav {
	min-width:600px;
}
body form {
	min-width:536px;
}


/* navigation
----------------------------------------------- */
body.system #nav > li.front-end,
body.site #nav > li {
	float:none;
	padding:0;
}
body.system #nav > li.front-end a,
body.site #nav > li a {
	float:left;
	color:#666;
	padding:15px 1em;
	height:0;
}
body.system #nav > li.front-end a:hover,
body.site #nav > li a:hover {
	color:#fff;
	background-image:url("../../../symphony/assets/images/navigation.png");
	background-color:#7E7E70;
	background-position:0 -30px;
	position:relative;
}
body.system #nav > li.front-end a:active,
body.site #nav > li a.active,
body.site #nav > li a:active,
body.site #nav > li a.active:hover {
	color:#fff;
	background-image:url("../../../symphony/assets/images/navigation.png");
	background-color:#7E7E70;
	background-position:0 0;
	position:relative;
}
body.system #nav > li.content {
	margin-left: 0;
}


/* typography and layout
----------------------------------------------- */
body.site h2 {
	border:none;
}
body.site h2 a,
body.site h3 a {
	color:#000;
	text-decoration:none;
}
body.site h2 a:hover,
body.site h3 a:hover {
	color:#597BC6;
}
body.site form input[type="text"] {
	width:99.5%;
}



/* entries lists
----------------------------------------------- */
#entries li {
	position:relative;
}
#entries ul {
	margin-left: 0;
	list-style: none;
	overflow:hidden;
}
ul.entries {
	border:1px solid #ddc;
	height:400px;
	overflow:auto;
	margin-bottom:0;
}
ul.entries li a {
	display:block;
	padding:2px 0 2px 24px;
	text-decoration:none;
	border-bottom:1px solid #eee;
}
.sections ul.entries li a {background:url("../img/btn_folder.gif") 4px 1px no-repeat}
.pages ul.entries li a {background:url("../img/btn_file.gif") 4px 2px no-repeat}
.menus ul.entries li a {background:url("../img/btn_portfolio.gif") 4px 1px no-repeat}

.sections ul.entries li a:hover {background-position:4px -95px}
.pages ul.entries li a:hover {background-position:4px -94px}
.menus ul.entries li a:hover {background-position:4px -95px}

.parent ul.entries li a {background:url("../img/btn_portfolio.gif") 4px 1px no-repeat}
.self ul.entries li a {background:url("../img/btn_folder.gif") 4px 1px no-repeat}
.child ul.entries li a {background:url("../img/btn_file.gif") 4px 2px no-repeat}

.parent ul.entries li a:hover {background-position:4px -95px}
.self ul.entries li a:hover {background-position:4px -95px}
.child ul.entries li a:hover {background-position:4px -94px}

ul.entries li a:hover {
	background-color:#eee;
}
#entries ul.entries li a.active,
#entries ul.entries li a:active {
	color:#fff;
	background-color:#5677C3;
	background-position:4px -191px;
}

.list {
	margin-bottom:32px; 
	}
.list ul.entries {
	height:auto; 
	margin-left:0; 
	}
.list ul.buttons {
	margin-bottom:0;
	}


/* buttons
----------------------------------------------- */
a.delete {background-color: #998}
body.tables .actions a.delete.active,
a.delete.active {
	background-color: #d43;
	cursor:default;
}
a.delete:hover {background-color: #d43}

ul.buttons {
	/*height:36px;*/
	background:#ddc;
	margin-bottom:24px;
}
ul.buttons a {
	background-color:#998;
}

ul.disabled a,
ul.disabled a:active,
ul.disabled a:hover {
	background-color:#ccb;
	cursor:default;
}

.actions a.button,
.buttons a.button,
.group a.button {
	font-size: .9em;
}
body.site a.button,
body.site a.button:hover {
	color: #fff;
}
ul.buttons li {
	float:left;
}
ul.buttons li a {
	margin-top: 6px;
	margin-left: 6px;
	margin-bottom: 6px;
}


/* confirm delete
----------------------------------------------- */
p#notice.warning {
	background-color:#d43;
	border-bottom:1px solid #e65;
}


/* preview entry details
----------------------------------------------- */
.preview .field {
	border-top:1px solid #DDDDCC;
	padding:11px 0pt 0 125px;
}
.preview .field h3 {
	margin-left: -125px;
	max-width: 115px;
	float:left;
	color:#665;
}
.preview .field .text h3 {
	margin-left:0;
	max-width:100%;
	float:none;
	display:block;
	color:#000;
}


/* edit multiple entries table
----------------------------------------------- */
table.edit input {
	margin-right:0;
}
table.delete col.delete {
	width:3em;
}
table.edit td {
	vertical-align:top;
}
body.tables div.actions {
	border:0;
}
body.site div.actions input:first-child {
	color:#000;
	cursor:default;
	width:auto;
}


/* sorting lists
----------------------------------------------- */
table.edit input {
	margin-right:0;
}
th a:after, th a.active:hover:after, th a.active[href*="ascending"]:after {
content:"↓";
}
th a.active:after, th a[href*="ascending"]:after, th a.active[href*="ascending"]:hover:after {
content:"↑";
}


body.tables h2 {
	padding-bottom: 0;
}
body.tables div.actions {
	width: auto;
	padding-left: 19px;
	float: none;
}
.actions a.delete {
	float: left;
}